<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akeso.akeso20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".ble.DrawerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".activity.HelpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.FileActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.PersonalActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".guide.ProductTour3Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ble.BleListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.GlassActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".active.ActiveActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".active.Active2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".active.Active3Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".active.Active4Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.ApartmentActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.FileListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.ForgetPassActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--<activity-->
            <!--android:name=".activity.LoginActivity"-->
            <!--android:theme="@style/Theme.AppCompat.NoActionBar" />-->
        <service
            android:name=".ble.BluetoothLeService"
            android:enabled="true" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <receiver android:name=".BluetoothConnectActivityReceiver">
        <intent-filter>
            <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />
        </intent-filter>
    </receiver>
</manifest>
